mat-toolbar {
    background: #023614;
    color: white;
}

mat-sidenav {
    width: 300px;
    border-right: none;
    background-image: url('../../assets/images/Rectangle\ 1.svg');
    color: white;
    text-align: center;
}

.fudge-icon{
    margin: 20px;
}

.content {
    height: 100%;
    display: flex;
}

mat-sidenav-container {
    height: 100%;
}

.menu-button {
    width: 70%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    top: 100px;
    height: 62px;
    opacity: 0.5;

    mat-icon {
        margin-right: 8px;
    }
}
.arrow {
    margin-top: 10%;
    margin-left: 25%;
    font-size: 13px;
    visibility: hidden;
}
.menu-button:hover {
    background-color:#003B14D9;
    border-radius: 17px;
}

.menu-button:focus {
    background-color:#003B14D9;
    border-radius: 17px;
    .arrow {
        visibility: visible;
    }
}
